.input-filter {
    padding: 0 1rem;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    grid-template-rows: 75px 1fr;

    .input {
        position: sticky;
        width: 100%;
        top: 0;
        padding: 1rem;
        margin-bottom: 1rem;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        input {
            width: 100%;
            font-size: 2rem;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
        margin-bottom: 1rem;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            border-radius: 4px;
        }
    }
}